{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Issue</h1>
    <h2> {{issue.summary}} </h2>
    <br>
    <p> {{issue.content}}</p>
    <br>
    <h1>Job required</h1>
    <h3> {{job.summary}}</h3>
    <br>
    <p> {{job.content}}</p>
</div>

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}