{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <h2 class="account-heading"> {{user.name}}</h2>
    <br>
        <h2>Contact Details</h2>
    <p>Email: {{user.email}} <br>Phone Number: {{user.phone_number}} </p>
</div>


{% if current_user.role == ('Admin') %}
<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Update_User', user_id = user.user_id) }}">Update User</a>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Delete_user', user_id = user.user_id) }}">Delete User</a>
</div>
{% endif %}

{% endblock content %}