{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h2>All Users</h2>
</div>

<div class="content-section">
    {% for user in all.items %}
    <div class="content-section">
        {%if user.role == ('Tenant')%}
        <h2 class="article-title"></h2>
        <h2><a class="article-title"href=" {{ url_for('Tenant', user_id= user.user_id) }}">{{user.name}}</a></h2>
        <p>Phone number: {{user.phone_number}} <br> Email: {{user.email}}</p>
        {%elif user.role == ('Landlord')%}
        <h2><a class="article-title"href=" {{ url_for('Landlord', user_id= user.user_id) }}">{{user.name}}</a></h2>
        <p>Phone number: {{user.phone_number}} <br> Email: {{user.email}}</p>
        {%elif user.role == ('Contractor')%}
        <h2><a class="article-title"href=" {{ url_for('Contractor', user_id= user.user_id, page1=1, page2=1) }}">{{user.name}}</a></h2>
        <p>Phone number: {{user.phone_number}} <br> Email: {{user.email}}</p>
        {%else%}
        <h2><a class="article-title"href=" {{ url_for('Admin', user_id= user.user_id) }}">{{user.name}}</a></h2>
        <p>Phone number: {{user.phone_number}} <br> Email: {{user.email}}</p>
        {% endif %}
    </div>
    {%endfor%}
</div>

<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{next_url}}">Next Page</a>
</div>

<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{prev_url}}">Previous Page</a>
</div>

{% endblock content %}