{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <h2 class="account-heading"> {{ contractor.name }}</h2>
    <br>
    <p>Email: {{contractor.email}} <br> Phone number: {{contractor.phone_number}}</p>
</div>

{% if current_user.role == ('Admin') %}
<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Update_User', user_id = contractor.user_id) }}">Update User</a>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Delete_user', user_id = contractor.user_id) }}">Delete User</a>
</div>
{% endif %}




{% endblock content %}