{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <h2 class="account-heading"> {{ contractor.name }}</h2>
    <br>
    <p>Email: {{contractor.email}} <br> Phone number: {{contractor.phone_number}}</p>
</div>

{% if current_user.role == ('Admin') %}
<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Update_User', user_id = contractor.user_id) }}">Update User</a>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Delete_user', user_id = contractor.user_id) }}">Delete User</a>
</div>
{% endif %}

<div class="content-section">
    <h2>Current Jobs</h2>
    {% for quotes in approved_quotes.items %}
    <div class="content-section">
        {% if current_user.role == ('Admin') %}
        <h2><a class="article-title" href="{{ url_for('Job', job_id = quotes.Jobs.job_id)}}"> {{quotes.Jobs.summary}}</a></h2>
        {% else %}}
        <h2><a class="article-title" href="{{ url_for('contractor_job', job_id = quotes.Jobs.job_id)}}"> {{quotes.Jobs.summary}}</a></h2>
        {% endif %}
        <p>{{quotes.Quotes.content}}</p>
    </div>
    {% endfor %}
    <a class="btn btn-secondary btn-sm m-1" href=" {{approved_prev}}">Previous page</a>
    <a class="btn btn-secondary btn-sm m-1" href=" {{approved_next}}">Next Page</a>
</div>

<a class="btn btn-secondary btn-sm m-1" href=" {{url_for('contractor_all_quotes', user_id = contractor.user_id)}}">All Quotes </a>

{% endblock content %}