{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h2> {{issue.summary}}</h2>
    <br>
</div>
<div class="content-section">
    <p> {{issue.content}}</p>
</div>

{% if current_user.role == ('Landlord') %}
    {% if issue.approved == False %}
    <div>
        <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Approve_issue', issue_id = issue.issue_id) }}">Authorize work</a>
    </div>
    {% endif %}
{% endif %}

{% if current_user.role == ('Admin') %}
    {%if issue.approved == True %}
        {%if issue.closed == False %}
        <div>
            <a class="btn btn-secondary btn-sm m-1" href=" {{create_a_job}}">Create a Job</a>
            {% if completed == True %}
                <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('issue_closing', issue_id = issue.issue_id)}}">Close Issue</a>
            {% endif %}
        </div>
        {% endif %}
    {% endif %}
{% endif %}


{% if current_user.role == ('Admin') %}
<div>
    <a class="btn btn-secondary btn-sm m-1" href="{{url_for('delete_issue', issue_id = issue.issue_id)}}">Delete Issue</a>
</div>
{% endif %}

<div class="content-section">
    <h2 class="article-title">Jobs</h2>
    {% for job in jobs %}
        <div class="content-section">
            <a class="article-title" href="{{ url_for('Job', job_id = job.job_id) }}"><h3> {{ job.summary }}</h3></a>
            <p>{{job.content}}</p>
            {% if job.closed == True %}
            <p>This job has been resolved</p>
            {% endif %}
        </div>
    {% endfor %}
</div>

<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Issue_note_page', issue_id=issue.issue_id) }}">Add a note</a>
</div>

<div class="content-section">
    <h2 class="article-title">Notes: </h2>
    {% for note in notes.items %}
        <div class="content-section">
            <h3 class="article-title">{{ note.title }} </h3>
            <p> {{note.content }}</p>
            {% if current_user.role == ('Admin')%}
            <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('delete_issue_note', note_id = note.note_id)}}">Delete note</a>
            {%endif%}
        </div>
    {% endfor %}
</div>

<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{next_url}}">Next Page</a>
</div>

<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{prev_url}}">Previous Page</a>
</div>


{% endblock content %}