{% extends "layout.html" %}
{% block content %}

<a class="btn btn-secondary btn-sm m-1" href="{{url_for('Issue_page', issue_id = job.issue) }}">Return to Issue</a>


<div class="content-section">
    <h2 class="account-heading"> {{ job.summary }}</h2>
    <br>
    <p>{{job.content}}</p>
</div>


{% if approved == False %} {# Only allow for quote sending if one hasn't already been approved #}
<a class="btn btn-secondary btn-sm m-1" href="{{url_for('Invite_contractor', job_id = job.job_id)}}">Invite a Contractor</a>
{% endif %}


<div class="content-section">
    <h2 class="article-title">Quotes</h2>
    {% for thing in quotes %} {# Outputs all the quotes for a job #}
        <div class="content-section">
            <h3> {{thing.User.name}}</h3>
            <p> {{thing.Quotes.content}} </p>
            {% if approved == False %}
            <a class="btn btn-secondary btn-sm m-1" href="{{url_for('Approve_quote', quote_id = thing.Quotes.quote_id) }}">Approve Quote</a>
            {% endif %}
            {% if thing.Quotes.chosen == True %} {# If a job is chosen then output it is #}
            <p>Quote approved</p>
            {% endif %}
        </div>
    {% endfor %}
</div>

<div>
    {%if job.closed == False%}
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('add_job_note', job_id = job.job_id)}}">Add a note</a>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('job_closing', job_id = job.job_id)}}">Close Job</a>
    {% endif %}
</div>

<div class="content-section">
    <h2 class="article-title">Notes: </h2>
    {% for note in notes.items %}
    <div class="content-section">
        <h3>{{note.title}}</h3>
        <p>{{note.content}}</p>
        <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('delete_job_note', note_id = note.note_id)}}">Delete note</a>
    </div>
    {%endfor%}
</div>

<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{next_url}}">Next Page</a>
</div>

<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{prev_url}}">Previous Page</a>
</div>



{% endblock content %}