{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <h2 class="account-heading"> {{landlord.name}}</h2> {#Outputs the landlords details#}
    <br>
    <p>Email: {{landlord.email }} <br>Phone number: {{landlord.phone_number}}</p>
</div>
{% if current_user.role == ('Admin') %}
<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Update_User', user_id = landlord.user_id) }}">Update User</a>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Delete_user', user_id = landlord.user_id) }}">Delete User</a>
</div>
{% endif %}
<div class="content-section">
    <h3>Properties: </h3>
    {%for places in properties%} {# Outputs all the properties a user is linked to #}
    <p><a class="article-title"  href="{{ url_for('Property',  property_id = places.property_id) }}"> {{places.address_line_1}} {{places.address_line_2}}</a></p>
    {%endfor%}
</div>
{% endblock content %}