{% extends "layout.html" %}
{% block content %}
{# form segment where searchdata is entered #}
    <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Choose a property </legend>
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        {{ form.address_line_1.label(class="form-control-label") }}
                        {% if form.address_line_1.errors %}
                            {{ form.address_line_1(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for postcode in form.address_line_1.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.address_line_1(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                </fieldset>
                <div class="form-group">
                    {{ form.submit(class = "btn btn-outline-info")}}
                </div>
            </form>
    </div>

{# Area where searchdata is outputted #}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">Search for Properties</a>
            </div>
            {% for items in SearchData %}
            <h2><a class="article-tile" href="{{ url_for('Property', property_id = items.Properties.property_id) }}"> {{items.Properties.address_line_1}} {{ items.Properties.address_line_2}}</a></h2>
            <p>Landlord: {{items.User.name}}</p> <br>
            {% endfor %}
        </div>
    </article>

{% endblock content %}