{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Search for Users </legend>
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                </fieldset>
                <div class="form-group">
                    {{ form.submit(class = "btn btn-outline-info")}}
                </div>
            </form>
    </div>

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">Search for Users</a>
            </div>
            {% for User in SearchData %}
                    {%if User.role == ('Tenant')%}
                    <h2><a class="article-title"href=" {{ url_for('Tenant', user_id= User.user_id) }}">{{User.name}}</a></h2>
                    <p>Phone number: {{User.phone_number}} <br> Email: {{User.email}}</p>
                    {%elif User.role == ('Landlord')%}
                    <h2><a class="article-title"href=" {{ url_for('Landlord', user_id= User.user_id) }}">{{User.name}}</a></h2>
                    <p>Phone number: {{User.phone_number}} <br> Email: {{User.email}}</p>
                    {%elif User.role == ('Contractor')%}
                    <h2><a class="article-title"href=" {{ url_for('Contractor', user_id= User.user_id) }}">{{User.name}}</a></h2>
                    <p>Phone number: {{User.phone_number}} <br> Email: {{User.email}}</p>
                    {%else%}
                    <h2><a class="article-title"href=" {{ url_for('Admin', user_id= User.user_id) }}">{{User.name}}</a></h2>
                    <p>Phone number: {{User.phone_number}} <br> Email: {{User.email}}</p>
                    {% endif %}
            {% endfor %}
        </div>
    </article>

{% endblock content %}