{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <h2 class="account-heading"> {{ users.name }}</h2>
    <br>
</div>
{% if current_user.role == ('Admin') %}
<div>
    <a class="btn btn-secondary btn-sm m-1" href=" {{url_for('Update_User', user_id = users.user_id) }}">Update User</a>
</div>
{% endif %}
<div class="content-section">
    <p> Current Tenancies: </p>
    {% for current in tenancies %}
    <h3><a class="article-title" href="{{ url_for('Property', property_id = current.Properties.property_id) }}"> {{current.Properties.address_line_1}} {{current.Properties.address_line_2}}</a></h3>
        <p>Landlord: <a class="article-title" href="{{ url_for('Landlord', user_id = current.Properties.property_id) }}"> {{current.User.name}} </a></p>
        <br>
    {% endfor %}
</div>
{% endblock content %}