{% extends "layout.html" %}
{% block content %}

{# Unused #}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> {{legend}}</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
                <div class="form-group">
                    {{ form.phone_number.label(class="form-control-label") }}
                    {% if form.phone_number.errors %}
                    {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                    {% else %}
                    {{ form.phone_number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.role.label(class="form-control-lg") }}
                    {% if form.role.errors %}
                    {{ form.role(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.role.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.role(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.business.label(class="form-control-label") }}
                    {% if form.business.errors %}
                    {{ form.business(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.business.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                    {% else %}
                    {{ form.business(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label")}}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                    {% else %}
                    {{ form.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>


    {% endblock content %}